# Playwright
node_modules/
# .env
.vscode/
# /src/config/*.env
src/logging/*.log
src/reporting/*
!src/reporting/*.txt
test-results/
playwright-report/
playwright/.cache/
.DS_Store
# Authentication
src/auth/*.json
src/logging/test_run.log
